@charset "UTF-8";
@keyframes upDown {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -8px);
  }
  100% {
    transform: translate(0 0px);
  }
}
@media (min-width: 550px) {
  body {
    background-color: yellow;
  }
  body:before {
    position: absolute;
    min-width: 600px;
    top: 50%;
    left: 50%;
    font-size: 32px;
    transform: translate(-50%, -50%);
    content: "브라우저 가로폭을 550px 이하로 줄여주세요 ";
  }
  body #wrap {
    display: none;
  }
}

#wrap {
  position: relative;
  max-width: 550px;
}
#wrap > header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}
#wrap > header > .phone_top {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}
#wrap > header > .phone_top > .wifi {
  display: flex;
}
#wrap > header > .phone_top > .wifi > p {
  margin-left: 5px;
}
#wrap > header > .phone_top > .baterry {
  display: flex;
}
#wrap > header > .phone_top > .baterry > p {
  margin-left: 5px;
}
#wrap > header > .app_top {
  display: flex;
  justify-content: space-between;
  margin: 40px 20px;
  font-size: 24px;
}
#wrap > header > .app_top > .category_name {
  display: flex;
  font-weight: bold;
}
#wrap > header > .app_top > .category_name > p:nth-child(1) {
  margin-right: 20px;
}
#wrap > header > .app_top > .category_name > .back > a {
  width: 100%;
  height: 100%;
}
#wrap > header > .app_top > .category_name > .back > a:hover {
  color: #dfdf0f;
}
#wrap > header > .app_top > .category_name.chat_room > P:nth-child(1) {
  color: #999;
}
#wrap > header > .app_top > .index_tool {
  display: flex;
}
#wrap > header > .app_top > .index_tool > P:nth-child(1), #wrap > header > .app_top > .index_tool > P:nth-child(2) {
  margin-right: 40px;
}
#wrap > header > .app_top > .index_tool > P:nth-child(3) {
  margin-right: none;
}
#wrap > header > .app_top > .index_tool > P:nth-child(3) > a:hover {
  color: red;
}
#wrap > header > .app_top > .index_tool > P > a {
  display: block;
  width: 100%;
  height: 100%;
}
#wrap > header > .app_top > .tool {
  display: flex;
}
#wrap > header > .app_top > .tool > P:nth-child(1) {
  margin-right: 40px;
}
#wrap > header > .app_top > .tool > P:nth-child(2) {
  margin-right: none;
}
#wrap > header > .app_top > .tool > P:nth-child(2) > a:hover {
  color: red;
}
#wrap > header > .app_top > .tool > P > a {
  display: block;
  width: 100%;
  height: 100%;
}
#wrap > header.talk_room {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 10%;
  background-color: #fff;
}
#wrap > section.chatBord {
  position: absolute;
  top: 130px;
  width: 90%;
}
#wrap > section.chatBord > .chatList > li {
  width: 100%;
  margin-bottom: 50px;
  padding: 0 20px;
}
#wrap > section.chatBord > .chatList > li .chatList_thumb {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#wrap > section.chatBord > .chatList > li:nth-child(1) .chatList_thumb {
  background-image: url(./../images/thumb1.jpg);
}
#wrap > section.chatBord > .chatList > li:nth-child(2) .chatList_thumb {
  background-image: url(./../images/thumb2.jpg);
}
#wrap > section.chatBord > .chatList > li:nth-child(2) > a > div > p {
  position: absolute;
  right: 0;
  top: 34px;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  background-color: #ff0000;
  border-radius: 50%;
}
#wrap > section.chatBord > .chatList > li:nth-child(3) .chatList_thumb {
  background-image: url(./../images/thumb3.jpg);
}
#wrap > section.chatBord > .chatList > li:nth-child(4) .chatList_thumb {
  background-image: url(./../images/thumb4.jpg);
}
#wrap > section.chatBord > .chatList > li > a {
  display: block;
  width: 100%;
  position: relative;
  display: flex;
}
#wrap > section.chatBord > .chatList > li > a:hover {
  background-color: #fefbe3;
}
#wrap > section.chatBord > .chatList > li > a > .chatList_thumb {
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  margin-right: 5px;
  border-radius: 20px;
}
#wrap > section.chatBord > .chatList > li > a > .chatList_name {
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
#wrap > section.chatBord > .chatList > li > a > .chatList_text {
  position: absolute;
  left: 70px;
  bottom: 10px;
  color: #999;
  font-size: 15px;
}
#wrap > section.chatBord > .chatList > li > a > .chatList_date {
  position: absolute;
  right: 0;
  top: 20%;
  transform: translate(0 -50%);
}
#wrap > section.people {
  position: absolute;
  top: 120px;
  left: 20px;
  width: 95%;
  margin: 0 auto;
}
#wrap > section.people > .me {
  border-bottom: 1px solid #ccc;
}
#wrap > section.people > .me > ul {
  margin-bottom: 10px;
}
#wrap > section.people > .me > ul > li > a {
  display: flex;
  align-items: center;
  width: 50%;
}
#wrap > section.people > .me > ul > li > a > .thumb {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  text-indent: -9999px;
  border-radius: 30%;
  background-image: url(./../images/me02.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > section.people > .notice ul {
  margin-bottom: 10px;
}
#wrap > section.people > .notice ul > li > a {
  display: flex;
  align-items: center;
  width: 55%;
}
#wrap > section.people > .notice ul > li > a .thumb {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  text-indent: -9999px;
  border-radius: 30%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > section.people > .notice > .notice1 {
  border-bottom: 1px solid #ccc;
}
#wrap > section.people > .notice > .notice1 > p {
  margin: 10px 0;
}
#wrap > section.people > .notice > .notice1 .thumb {
  background-image: url(./../images/ico_cake.png);
}
#wrap > section.people > .notice > .notice2 {
  border-bottom: 1px solid #ccc;
}
#wrap > section.people > .notice > .notice2 > p {
  margin: 10px 0;
}
#wrap > section.people > .notice > .notice2 .thumb {
  background-image: url(./../images/ico_emoji.png);
}
#wrap > section.people > .friends > p {
  margin: 10px 0 10px 10px;
}
#wrap > section.people > .friends > ul > li {
  margin-bottom: 40px;
}
#wrap > section.people > .friends > ul > li:nth-child(1) .thumb {
  background-image: url(./../images/thumb1.jpg);
}
#wrap > section.people > .friends > ul > li:nth-child(2) .thumb {
  background-image: url(./../images/thumb2.jpg);
}
#wrap > section.people > .friends > ul > li:nth-child(3) .thumb {
  background-image: url(./../images/thumb3.jpg);
}
#wrap > section.people > .friends > ul > li:nth-child(4) .thumb {
  background-image: url(./../images/thumb4.jpg);
}
#wrap > section.people > .friends > ul > li:hover > a {
  background-color: #fdf4b1;
}
#wrap > section.people > .friends > ul > li > a {
  display: flex;
  align-items: center;
}
#wrap > section.people > .friends > ul > li > a > p {
  font-size: 14px;
  line-height: 1.8;
}
#wrap > section.people > .friends > ul > li > a > p > span {
  font-size: 16px;
  font-weight: bold;
}
#wrap > section.people > .friends > ul > li > a .thumb {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  text-indent: -9999px;
  border-radius: 30%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#wrap > section.menu {
  position: absolute;
  top: 80px;
  width: 90%;
  z-index: 100;
  margin-left: 20px;
}
#wrap > section.menu ul {
  margin-top: 40px;
}
#wrap > section.menu ul li {
  height: 50px;
  font-size: 26px;
  margin-bottom: 20px;
  line-height: 50px;
}
#wrap > section.menu ul li:hover > a {
  background-color: #fdf4b1;
}
#wrap > section.menu ul li > a {
  display: block;
  height: 100%;
}
#wrap > section.menu ul li > a > i {
  margin-right: 15px;
}
#wrap > section.talk {
  position: absolute;
  top: 80px;
  margin-top: 30px;
  width: 100%;
  height: 1300px;
  background-color: #bacee0;
}
#wrap > section.talk > .talk_date {
  width: 150px;
  height: 20px;
  margin: 10px auto;
  color: #fff;
  line-height: 20px;
  text-align: center;
  background-color: #a7b9c9;
  border-radius: 50px 50px 50px 50px;
}
#wrap > section.talk > .talk_you {
  display: flex;
  position: absolute;
  left: 10px;
  top: 60px;
}
#wrap > section.talk > .talk_you .talk_you_thumb {
  width: 50px;
  height: 50px;
  text-indent: -999px;
  border-radius: 50%;
  background-image: url(./../images/people1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#wrap > section.talk > .talk_you > .talk_you_cont {
  margin-left: 5px;
}
#wrap > section.talk > .talk_you > .talk_you_cont > .talk_you_chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  margin: 5px 0 0 5px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
}
#wrap > section.talk > .talk_you:nth-of-type(2) {
  top: 150px;
}
#wrap > section.talk > .talk_you:nth-of-type(2) .talk_you_thumb {
  background-image: url(./../images/people2.jpg);
}
#wrap > section.talk > .talk_you:nth-of-type(2) .talk_you_chat {
  padding-right: 5px;
  width: 150px;
  height: 40px;
  line-height: 1.4;
}
#wrap > section.talk > .talk_you:nth-of-type(3) {
  top: 250px;
}
#wrap > section.talk > .talk_you:nth-of-type(3) .talk_you_thumb {
  background-image: url(./../images/people3.jpg);
}
#wrap > section.talk > .talk_you:nth-of-type(3) .talk_you_chat {
  padding-right: 5px;
  width: 150px;
  height: 30px;
  line-height: 1.4;
}
#wrap > section.talk > .talk_you:nth-of-type(4) {
  top: 640px;
}
#wrap > section.talk > .talk_you:nth-of-type(4) .talk_you_thumb {
  background-image: url(./../images/people4.jpg);
}
#wrap > section.talk > .talk_you:nth-of-type(4) .talk_you_chat {
  width: 100px;
}
#wrap > section.talk > .talk_you:nth-of-type(4) .talk_you_chat > span {
  margin-right: 10px;
  color: #0920f7;
  font-weight: 600;
}
#wrap > section.talk > .talk_me_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 400px;
  width: 300px;
  height: 220px;
  margin-left: 5px;
  text-align: center;
  background-color: #fcfc00;
  border-radius: 10px 10px 10px 10px;
}
#wrap > section.talk > .talk_me_cont > p > a > img {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 280px;
}
#wrap > section.talk > .talk_me_cont.pds_img {
  height: 245px;
  top: 320px;
}
#wrap > section.talk > .talk_me_cont.think_img {
  height: 240px;
}
#wrap > section.talk .chl_img > p > img {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 280px;
}
#wrap > section.talk .talk_me {
  position: absolute;
  right: 10px;
  top: 650px;
  width: 160px;
  height: 40px;
}
#wrap > section.talk .talk_me.eng_txt {
  padding-left: 10px;
  text-align: left;
  width: 240px;
  height: 70px;
  font-size: 16px;
}
#wrap > section.talk .talk_me.pds_txt {
  top: 580px;
}
#wrap > Section.search_friends {
  position: absolute;
  left: 20px;
  top: 120px;
  z-index: 200;
  width: 95%;
}
#wrap > Section.search_friends > .plus_friends {
  width: 100%;
}
#wrap > Section.search_friends > .plus_friends > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  border-bottom: 1px solid #ccc;
}
#wrap > Section.search_friends > .plus_friends > ul > li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 140px;
  font-size: 14px;
  text-align: center;
}
#wrap > Section.search_friends > .plus_friends > ul > li > a > i {
  font-size: 38px;
}
#wrap > Section.search_friends > .recommand_friends {
  width: 100%;
}
#wrap > Section.search_friends > .recommand_friends > p {
  font-size: 16px;
  margin: 30px 0;
}
#wrap > Section.search_friends > .recommand_friends > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}
#wrap > Section.search_friends > .recommand_friends > ul > li {
  width: 90%;
  display: flex;
  height: 60px;
  line-height: 60px;
}
#wrap > Section.search_friends > .recommand_friends > ul > li > a:nth-child(1) {
  width: 80%;
  height: 100%;
  display: block;
}
#wrap > Section.search_friends > .recommand_friends > ul > li > a:nth-child(1):hover {
  font-weight: bold;
}
#wrap > Section.search_friends > .recommand_friends > ul > li > a:nth-child(1) > div > p {
  font-size: 18px;
}
#wrap > Section.search_friends > .recommand_friends > ul > li > a:nth-child(1) > div > p > i {
  margin-right: 10px;
  font-size: 42px;
}
#wrap > Section.search_friends > .recommand_friends > ul > li > a:nth-child(2) {
  font-size: 18px;
  transition: all 0.4s;
}
#wrap > Section.search_friends > .recommand_friends > ul > li > a:nth-child(2):hover {
  font-size: 26px;
}
#wrap > section.plus_option {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
}
#wrap > section.plus_option > .user {
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
#wrap > section.plus_option > .user > ul {
  margin: 0 0 50px 20px;
}
#wrap > section.plus_option > .user > ul > li > a {
  display: flex;
  align-items: center;
  width: 50%;
}
#wrap > section.plus_option > .user > ul > li > a > p {
  font-size: 16px;
  line-height: 1.6;
}
#wrap > section.plus_option > .user > ul > li > a > p > span {
  font-size: 18px;
  font-weight: bold;
}
#wrap > section.plus_option > .user > ul > li > a > .thumb {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  text-indent: -9999px;
  border-radius: 30%;
  background-image: url(./../images/me02.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > section.plus_option > .user > ul:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
#wrap > section.plus_option > .user > ul:nth-child(2) > li {
  width: 25%;
  text-align: center;
}
#wrap > section.plus_option > .user > ul:nth-child(2) > li > a {
  width: 100%;
  display: block;
  height: 100%;
}
#wrap > section.plus_option > .user > ul:nth-child(2) > li > a > i {
  margin-bottom: 5px;
  font-size: 36px;
}
#wrap > section.plus_option > .kakao_service > p {
  font-size: 18px;
  margin: 20px 20px;
}
#wrap > section.plus_option > .kakao_service > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}
#wrap > section.plus_option > .kakao_service > ul > li {
  text-align: center;
}
#wrap > section.plus_option > .kakao_service > ul > li > a {
  display: block;
  width: 65px;
  height: 65px;
  margin-bottom: 15px;
  color: #fff;
  line-height: 70px;
  text-align: center;
  font-size: 38px;
  background-color: #f9de1c;
  border-radius: 10px;
}
#wrap > footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}
#wrap > footer > ul {
  display: flex;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
}
#wrap > footer > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  width: 25%;
  height: 100%;
}
#wrap > footer > ul > li > a {
  display: block;
  height: 100%;
}
#wrap > footer > ul > li > a:hover {
  color: #ff6666;
}
#wrap > footer > div > p {
  position: absolute;
  left: 38%;
  top: 15px;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  background-color: #ff0000;
  border-radius: 50%;
  animation: upDown 1.3s ease-in-out 0s infinite alternate forwards;
}
#wrap > footer > .keybord {
  position: fixed;
  bottom: -335px;
  width: 100%;
  border-top: 1px solid #999;
  transition: all 0.5s;
}
#wrap > footer > .keybord:hover {
  bottom: 0;
}
#wrap > footer > .keybord > .sendbord {
  display: flex;
  padding: 0 10px;
  background-color: #fafafa;
}
#wrap > footer > .keybord > .sendbord > input {
  order: 100;
  display: block;
  width: 80%;
  height: 40px;
  margin: 10px auto;
  padding-left: 10px;
  border: 1px solid #fafafa;
}
#wrap > footer > .keybord > .sendbord > p > i {
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  margin-right: 10px;
}
#wrap > footer > .keybord > .sendbord > p:nth-child(1) {
  margin-left: 10px;
  order: 10;
}
#wrap > footer > .keybord > .sendbord > p:nth-child(2) {
  margin-left: 5px;
  order: 200;
}
#wrap > footer > .keybord > .sendbord > p:nth-child(3) {
  order: 300;
}
#wrap > footer > .keybord > img {
  display: block;
  width: 100%;
}/*# sourceMappingURL=style2.css.map */